<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">
 
<icon src="icon.png" platform="android" width="180" height="180" />
<splash src="splash.png" platform="android" />

<access origin="*" />         
        <plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
<access origin="*" browserOnly="true" />


 <name>DogTest New Test</name>

  <description>
      Dog test app
  </description>

  <author >
     Nata Test
  </author>
</widget>
